@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Comfortaa:wght@500;600&family=Kameron:wght@400;700&family=Pacifico&display=swap');
:root {
  font-size: 0.785rem;
}
body{
  font-family: 'Artic Slab',serif;
  height: 100%;
  padding: 11.5rem;
}
.logo{
  font-size: 1.9rem;
  color: #ffc107;
}
.fa-bag-shopping{
  color: #222;
  transform: rotate(25deg);
}
.fa-basket-shopping{
  color: #fefefe;
  opacity: 1;
  transition: .2 ease;
}
h5{
  font-family: 'Pacifico', cursive;
}
